cycler>=0.10.0
h5py>=2.9.0
kiwisolver>=1.0.1
matplotlib>=2.2.2
nidaqmx>=0.5.7
numpy>=1.16.1
PyQt5>=5.12
PyQt5-sip>=4.19.14
pyqtgraph>=0.10.0
pandas>=0.24.1
Pint>=0.8.1
pyparsing>=2.3.0
pyserial>=3.4
python-dateutil>=2.7.5
pytz>=2018.7
qdarkstyle>=2.6.5
six>=1.12.0
scipy>=1.2.1
xarray>=0.11.3


